{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": "**/*.d.ts",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "experimentalObjectRestSpread": false
    }
  },
  "env": {
    "node": true,
    "jest": true,
    "commonjs": true,
    "mongo": true
  },
  "rules": {
    "no-console": 1,
    "indent": ["error", 2],
    "global-require": ["error"],
    "handle-callback-err": ["error"]
  }
}
