version: "3.2"

services:

  portal:
    container_name: portal
    restart: always
    image: keybraker/portal:latest
    # deploy:
    #     resources:
    #         limits:
    #           cpus: 1.00
    #           memory: 1024M
    build: 
      context: .
      dockerfile: ./docker/Dockerfile 
    depends_on:
      - mongo

  mongo:
    container_name: mongo
    image: mongo:4.4.3
    # deploy:
    #     resources:
    #         limits:
    #           cpus: 1.00
    #           memory: 1024M
    ports:
     - '29017:27017'
    volumes:
      - type: bind
        source: ../mongo/data/db
        target: /data/db