version: "3.9"

services:
  portal:
    container_name: portal
    restart: always
    image: keybraker/portal:latest
    environment:
      NODE_ENV: production
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    depends_on:
      - mongo
    volumes:
      - type: bind
        source: ../logs
        target: /logs
    deploy:
      resources:
        limits:
          memory: 768M

  mongo:
    container_name: mongo
    restart: always
    image: mongo:5.0
    logging:
      driver: "none"
    ports:
      - "27017:27017"
    volumes:
      - type: bind
        source: ../mongo/data/db
        target: /data/db
    deploy:
      resources:
        limits:
          memory: 256M
    healthcheck:
      test: "echo 'db.runCommand(\"ping\").ok' | mongo localhost:27017/test --quiet"
      interval: 10s
      timeout: 5s
      retries: 5
