# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: lint and test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  pass_code_from_linter:
    runs-on: ubuntu-latest

   steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: "12"
          check-latest: true
      - run: npm install
      - run: npm ci
      - run: npm lint
      - run: npm run build --if-present
