name: nodejs

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  node_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14'
          check-latest: true
      - run: npm install
      - run: npm ci
      - run: npx jest
      # - run: npm run test
